.title_faq {
   margin: 40px;
   justify-content: center;
   align-items: center;
   display: inline-flex;
   background-image: radial-gradient(circle at 1.5px, rgba(0, 0, 0, .349) 0.75px, hsla(0, 0%, 100%, .11) 1.5px);
   background-position: bottom;
   background-repeat: repeat-x;
   background-size: 8px 2px;

   &>h4 {
      padding-bottom: 10px;
      font-family: Sacramento, Sans-serif;
      font-size: 60px;
      font-weight: 400;
   }
}

.content_faq {
   padding-left: 32px;
   text-align: justify;
}



// item_faq
.answer_faq {
   --MAIN_COLOR: #be7374;
   background-color: rgba(223, 100, 120, .315);
   border: 1px solid var(--MAIN_COLOR);
   padding: 5px 20px;

   .answer {
      justify-content: space-between;
      width: -webkit-fill-available;
      display: flex;

      &>h3 {
         margin: 18px 0;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         font-size: 18px;
         font-weight: 500;
      }

   }
   .text_answer {
      color: rgba(56, 51, 51, .726);
      font-family: Jost;
      font-size: 16px;
      padding-bottom: 20px;
      text-align: justify;
   }
}